<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@string/description"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModernXposedApiDemo"
        android:extractNativeLibs="true"
        tools:targetApi="31" >

        <meta-data
            android:name="xposedminversion"
            android:value="100"/>

        <meta-data
            android:name="xposeddescription"
            android:value="a simple cronet capture" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>

    </application>

</manifest>